<html>
<head>
<title>
#BSP  </title>

<!-- Latest compiled and minified CSS -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>User Addition</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
 
<div class="container">

<div class="panel panel-default">
  <div class="panel-heading"><h1>Book Sharing Plateform<h1> </div>

<form role="form" method="post" action="/api/adduser" id="contact-form">
<label for="i">Enter Name:</label>
<input type="text" name="firstName" id="i" placeholder="Enter Name" class="form-control">
<br>


<label for="fn">Enter Book Name:</label>
<input type="text" name="bookName" id="fn" placeholder="Enter Book Name" class="form-control">
<br>

<label for="ln">Enter Author Name:</label>
<input type="text" name="authorName" id="ln" placeholder="Enter Author Name" class="form-control">
<br>

<label for="mn">Enter Book Status:</label>
<input type="text" name="bookStatus" id="mn" placeholder="Enter Book Status" class="form-control">
<br>


<label for="em">Enter Contact No:</label>
<input type="number" name="contactNo" id="em" placeholder="Enter Mobile Number" class="form-control">
<br>
    
<label for="m">Enter Email:</label>
<input type="email" name="email" id="m" placeholder="Enter Email" class="form-control">
<br>
    
<input type="submit" class="btn btn-primary" class="form-control" name="Submit">
<br>
</form>
</div>

</div>
<body>

</html>